# Create an OSEv3 group that contains the master, nodes, etcd, and lb groups.
[OSEv3:children]
masters
nodes
etcd
#nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
#ansible_ssh_user=ec2-user
ansible_ssh_user=root
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
deployment_type=openshift-enterprise
debug_level=4
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# default subdomain to use for exposed routes
openshift_master_default_subdomain=cloudapps-ocp37-wohshon.ddns.net

# Router selector (optional)
# Router will only be created if nodes matching this label are present.
# Default value: 'region=infra'
openshift_hosted_router_selector='env-region=infra'
openshift_hosted_router_replicas=1

# Registry selector (optional)
# Registry will only be created if nodes matching this label are present.
# Default value: 'region=infra'
openshift_hosted_registry_selector='env-region=infra'
openshift_hosted_registry_replicas=1
# storage for registry
#openshift_hosted_registry_storage_kind=nfs
#openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
#openshift_hosted_registry_storage_nfs_directory=/exports
#openshift_hosted_registry_storage_nfs_options='*(rw,root_squash)'
#openshift_hosted_registry_storage_volume_name=registry
#openshift_hosted_registry_storage_volume_size=25Gi

# Configure metricsPublicURL in the master config for cluster metrics
openshift_master_metrics_public_url=https://hawkular-metrics.cloudapps-ocp37-wohshon.ddns.net

# Configure loggingPublicURL in the master config for aggregate logging
openshift_master_logging_public_url=https://kibana.cloudapps-ocp37-wohshon.ddns.net

# AWS
openshift_cloudprovider_kind=aws
# Note: IAM profiles may be used instead of storing API credentials on disk.
openshift_cloudprovider_aws_access_key={{ AWS_ACCESS_KEY_ID }}
openshift_cloudprovider_aws_secret_key={{ AWS_SECRET_ACCESS_KEY }}
openshift_clusterid='{{ ocp_cluster_id }}'
openshift_disable_check=docker_storage,docker_storage_driver,memory_availability,disk_availability
# host group for masters
[masters]
{{  hostvars['localhost']['master'].instances[0].private_dns_name }} openshift_public_hostname="master-ocp37-wohshon.ddns.net" openshift_hostname="{{  hostvars['localhost']['master'].instances[0].private_dns_name }}"

[etcd]
{{  hostvars['localhost']['master'].instances[0].private_dns_name }} openshift_public_hostname="master-ocp37-wohshon.ddns.net" openshift_hostname="{{  hostvars['localhost']['master'].instances[0].private_dns_name }}"

#TIDY UP THE LABELS, multiple zones
[nodes]
{{  hostvars['localhost']['master'].instances[0].private_dns_name }} openshift_public_hostname="master-ocp37-wohshon.ddns.net" openshift_hostname="{{  hostvars['localhost']['master'].instances[0].private_dns_name }}" openshift_schedulable=true openshift_node_labels="{'name': 'master1', 'env-region': 'infra', 'env-zone': 'default'}"
{{  hostvars['localhost']['worker'].instances[0].private_dns_name }} openshift_hostname="{{  hostvars['localhost']['worker'].instances[0].private_dns_name }}" openshift_node_labels="{'name': 'node0','region': 'ap-southeast-1', 'zone': 'ap-southeast-1a', 'env-region': 'primary', 'env-zone': 'east'}"
{{  hostvars['localhost']['worker'].instances[1].private_dns_name }} openshift_hostname="{{  hostvars['localhost']['worker'].instances[1].private_dns_name }}" openshift_node_labels="{'name': 'node1','region': 'ap-southeast-1', 'zone': 'ap-southeast-1a', 'env-region': 'primary', 'env-zone': 'west'}"
#[nfs]
#ip-192-168-0-186.ap-southeast-1.compute.internal 

